<template>
    <div class="ui container with-margin">
        <div class="raised ${isLoading?'loading':''}" ui-segment>
            <h1 class="green" ui-header>Registration</h1>
            <div class="blue icon" ui-message>
                <i class="info icon"></i>
                <div class="header">
                    For security purposes, we have sent a verification code to ${phone}. Please fill that in to proceed.
                </div>
            </div>
            <div class="ui two column middle aligned very relaxed stackable grid">
                <div class="top aligned column">
                    <form class="with-margin" ui-form submit.trigger="completeRegistration()">
                        <div class="field">
                            <span><label>Verification code</label></span>
                            <input type="text" value.bind="mobileVerification.VerificationCode" ui-input>
                        </div>

                        <button type="submit" class="blue" ui-button>Complete Registration</button>
                        <a href="" click.trigger="resend()" ui-button><i class="repeat icon"></i>Resend Code</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>