<template>
    <div class="ui container with-margin">
        <div class="raised" ui-segment>
            <h1 ui-header>You're almost there, ${fullName}!</h1>
            <div class="green" ui-message>
                <i class="checkmark icon"></i>
                Verification successful. For security reasons, please create your password for future access
            </div>
            <div class="ui three column middle aligned very relaxed stackable grid">
                <div class="top aligned column">
                    <form ui-form submit.trigger="completeRegistration()">
                        <div class="field">
                            <span><label>Username</label></span>
                            <input type="text" value.bind="user.username" ui-input>
                        </div>
                        <div class="field">
                            <span><label>Password</label></span>
                            <input type="text" value.bind="user.password" ui-input>
                        </div>
                        <div class="field">
                            <span><label>Confirm Password</label></span>
                            <input type="text" value.bind="user.confirmPassword" ui-input>
                        </div>
                        <button type="submit" class="blue" ui-button>Submit</button>
                    </form>
                </div>
                <div class="two middle aligned columns with-margin">
                    <div id="pwdInstructions" class="pwd-instruction">
                        <p>Try not to use common names or words, and combine upper-case, lower-case numbers and symbols </p>
                        <p> Your password must contain below:</p>
                        <ul class="pwd-instruction-ul">
                            <li>8 - 12 Characters</li>
                            <li>1 Upper Case</li>
                            <li>1 Lower Case</li>
                            <li>1 Digit</li>
                            <li>1 Special Character</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>